.log-btn{
    background-color: green;
    text-align: center;
    color: white;
    height: 50px;
    width: 100px;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

/* a:hover {
    background-color: rgb(26, 230, 70);
    color: #000000;
    text-decoration: none;
    border-radius:10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
} */

.time{
    color: white;
}

.buton{
    color: white;
}